<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>데이터베이스 - 직원정보시스템</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <style>
    * {
      text-align: center;
    }
    table {
      border: 1px solid #000000;
    }
  </style>
</head>
<body>
  <h1 style="text-align: left">직원검색시스템</h1>
  <div>
    <h3>직원 검색 목록</h3>
    <table class="table table-hover table-bordered">
      <thead>
      <tr style="text-align: center">
        <th>Fname</th>
        <th>Minit</th>
        <th>Lname</th>
        <th>Ssn</th>
        <th>Bdate</th>
        <th>Address</th>
        <th>Sex</th>
        <th>Salary</th>
        <th>Super_ssn</th>
        <th>Dno</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="emp: ${employeeList}">
        <td th:text="${emp.fname}">Fname</td>
        <td th:text="${emp.minit}">Minit</td>
        <td th:text="${emp.lname}">Lname</td>
        <td th:text="${emp.ssn}">Ssn</td>
        <td th:text="${emp.bdate}">Bdate</td>
        <td th:text="${emp.address}">Address</td>
        <td th:text="${emp.sex}">Sex</td>
        <td th:text="${emp.salary}">Salary</td>
        <td th:text="${emp.superSsn}">Super_ssn</td>
        <td th:text="${emp.dno}">Dno</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <br/>
  <div>
    <form th:action="hire" method="post" th:object="${employee}">
      <table class="table table-hover table-bordered" style="width: 800px;">
        <thead>
        <tr>
          <th style="width: 50px">Fname</th>
          <th style="width: 50px">Minit</th>
          <th style="width: 50px">Lname</th>
          <th style="width: 100px">Ssn</th>
          <th style="width: 50px">Bdate</th>
          <th style="width: 200px">Address</th>
          <th style="width: 50px">Sex</th>
          <th style="width: 100px">Salary</th>
          <th style="width: 100px">Super_ssn</th>
          <th style="width: 50px">Dno</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input id="Fname" style="width: 80px" th:name="fname" th:value="${fname}"/></td>
          <td><input id="Minit" style="width: 50px" th:name="minit" th:value="${minit}"/></td>
          <td><input id="Lname" style="width: 80px" th:name="lname" th:value="${lname}"/></td>
          <td><input id="Ssn" style="width: 80px" th:name="ssn" th:value="${ssn}"/></td>
          <td><input id="Bdate" style="width: 80px" th:name="bdate" th:value="${bdate}"/></td>
          <td><input id="Address" style="width: 200px" th:name="address" th:value="${address}"/></td>
          <td><input id="Sex" style="width: 50px" th:name="sex" th:value="${sex}"/></td>
          <td><input id="Salary" style="width: 100px" th:name="salary" th:value="${salary}"/></td>
          <td><input id="Super_Ssn" style="width: 80px" th:name="superssn" th:value="${superSsn}"/></td>
          <td><input id="Dno" style="width: 50px" th:name="dno" th:value="${dno}"/></td>
        </tr>
        </tbody>
      </table>
      <button type="submit" style="float: left" class="btn btn-warning">추가</button>
    </form>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div>
    <table class="table table-hover table-bordered" style="width: 700px;">
      <thead>
      <tr>
        <th>eSsn</th>
        <th>dependentName</th>
        <th>sex</th>
        <th>bDate</th>
        <th>relationship</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="emp: ${dependentList}">
        <td th:text="${emp.eSsn}">eSsn</td>
        <td th:text="${emp.dependentName}">dependentName</td>
        <td th:text="${emp.sex}">sex</td>
        <td th:text="${emp.bDate}">bDate</td>
        <td th:text="${emp.relationship}">relationship</td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>